html {
    font-family: sans-serif;
    color: antiquewhite;
    background-color: #3B4A59;
  }


button {
  border-radius: 8px;
  color: antiquewhite;
  box-shadow: none;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 800;
  border-width: 0px;
}

.navbar {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5D462;
}

.navbar-components {
  display: flex;
}

.CTA {
  border-radius: 8px;
  background-color: #007FFF;
  color: black;
}

.CTA:hover {
  background-color: #007FFF;
  color: antiquewhite;
}

.AvailableNfts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardDeque {
  background-color: #F5D462;
  display: flex;
  padding: 10px;
  width: 80%;
  align-self: center;
  justify-content: space-around;
}

.cards {
  padding: 10px;
  border: 2px solid black;
}

.cardImage {
  align-items: center;
}

.AvailableNfts {
  color: black;
}